body{
    margin: 0;
    padding: 0;
}
.newImg{
    height: 350px ;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.header{
    background-color: aquamarine;
    text-align: center;
}
.btn{
    color: black;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 30px;
    margin-top: 20px;
}